@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

* {
  color: #F6F6F6;
  /* border: 1px solid white; */
}

::-webkit-scrollbar { 
  display: none; 
}

button:focus {
  outline: none;
}

p {
  font: "Roboto";
  font-size: 15px;
}

.Wrapper {
  display: flex;
  flex-direction: column;
}

.NavBar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  z-index: 3;
}

.MaxWidth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 960px;
  margin: auto;
}

.Logotype {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.LogoWrap {
  height: 70%;
  margin: 0 10px;
}

.Logo {
  height: 100%;
}

h1 {
  font-family: "Roboto";
  font-weight: 300;
	font-size: 30px;
	line-height: 26.4px;
}

.Banner {
  background-image: url(https://media.timeout.com/images/102503695/image.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 750px;
  margin-bottom: 20px;
}

.BannerOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BannerOverlay > h1 {
  font-size: 60px;
}

.Create {
  height: 60px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #E7C977;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  color: rgba(121, 121, 121, 1);
}

.MaxWidthList {
  width: 960px;
  margin: auto;
}

.Title {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.TopPlaylistWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.TopPlaylistList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.TopPlaylistItem {
  width: 310px;
  height: 310px;
  margin: 5px;
  margin-top: 0;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  margin-bottom: 10px;
  transition: box-shadow 0.35s ease;
}

.TopPlaylistItem:hover > .PlayButton {
  height: 310px;
  width: 310px;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
  position: absolute;
  z-index: 2;
  transition: background-color 0.35s ease;
  background-color: rgba(0,0,0,0.4);
  background-image: url('./assets/play-button.png');
}

.IconWrap {
  width: 310px;
  height: 310px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.PlaylistImg {
  width: 50%;
  height: 50%;
}

.PlaylistImg.Solo {
  height: 100%;
  width: 100%;
}

.PlaylistDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  z-index: 1;
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,0))
}

h3, h4, h5 {
  margin: 2px 6px;
  font-family: "Roboto";
  font-weight: 300;
}

h3 {
  margin: 10px 6px;
  font-size: 25px;
  font-weight: 500;
}

h5 {
  margin-bottom: 10px;
}

.MaxWidthCreate {
  width: 960px;
  margin: auto;
  margin-top: 70px;
  text-align: center;
}

.UserForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}

.UserForm > .Create {
  background-color: #1DB954;
  color: white;
  font-weight: 300;
}

input[type="text"], input[type="password"], textarea {
  margin: 5px;
  margin-bottom: 10px;
  border: 0;
  height: 30px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid white;
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
  /* width: 500px; */
  height: 3px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 3px solid #E7C977;
  background: #191414;
  margin-top: -6px;
}

input[type="range"]:focus {
  outline: none;
}  

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.AddButton {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  background-color: #E7C977;
  font-family: "Roboto";
  font-size: 17px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color: rgba(121, 121, 121, 1);
}

.SignUpLogin {
  display: flex;
  justify-content: space-between;
  height: 400px;
  margin-top: 50px;
}

.SignUpLogin > .UserForm > h2 {
  font-weight: 300;
}

.Separator {
  height: 100%;
  width: 2px;
  background-color: white;
  margin-top: 60px;
}

.Subtitle {
  text-align: left;
}

li {
  text-align: left;
}

.SignUp {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.UserFormSignUp {
  margin-top: 30px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.WelcomePicture {
  border-radius: 5px;
}

.ProfileSample {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90px;
}

.ProfilePicWrapper {
  max-height: 50px;
  max-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfilePic {
  width: 80%;
  border-radius: 100%;
}

.PlaylistTitleWrapper {
  display: flex;
  height: 90px;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.PlaylistTitle {
  height: 100%;
  text-align: left;
}

.PlaylistTitle > h1 {
  font-weight: 300;
  margin-bottom: -2px;
}

.PlaylistTitle > p {
  color: rgb(90, 90, 90);
}

.Collaborate {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: #E7C977;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  color: rgba(90, 90, 90, 1);
}

.Generate {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: #1DB954;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.TrackWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Track {
  height: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: none;
}

.TrackImageWrap {
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
}

.TrackCover {
  height: 90%;
  width: 90%;
}

.TrackDetails {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.TrackDetails > h3 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 2px;
}
.TrackDetails > h5 {
  color: rgb(90, 90, 90);
}

.MoreSongs {
  height: 100%;
  color: rgb(90, 90, 90)
}

.ProfileWrapper {
  display: flex;
  height: 200px;
}

.ProfileDetails {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ProfileDetails > h3 {
  text-align: left;
  font-weight: 300;
  margin-bottom: 0;
}

.ProfileDetails > a {
  cursor: pointer;
  display: inline-block;
  margin-top: 53px;
  margin-left: 8px;
}

.ProfileDetails > a > p{
  text-align: left;
}

.Collabed {
  background-color: grey;
  cursor: default;
}

.PlaylistManage {
  display: flex;
  align-items: center;
}

.Delete {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: rgb(153, 0, 0);
  border-radius: 5px;
}

.DeleteIco {
  margin: auto;
  margin-top: 3px;
  height: 70%;
  align-self: center;
}

.Error {
  text-align: center;
  margin-top: 70px;
}

.EasterEgg {
  font-size: 9px;
}

.SelectorWrap {
  margin-top: 20px;
}

.UserForm > h2 {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.TypeSelector {
  height: 50px;
  width: 150px;
  border: 2px solid #E7C977;
  border-radius: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  color: rgba(121, 121, 121, 1);
}

.Selected {
  background-color: #E7C977;
}

.SliderWrap {
  margin-top: 20px;
  display: flex;
  height: 50px;
  width: 400px;
  align-items: center;
  justify-content: space-around;
}

.Slider {
  width: 300px;
}

.SliderWrap > p {
  margin-bottom: 35px;
}