@import '../../index'
@import '../../stylesheets/base/variables.sass'

// Header
.header_profile
  +flex()
  width: 7vw
  a:link, a:visited, a:hover, a:active
    text-decoration: none
    color: $font-color

.header_profile_img_wrapper
  +flex($direction: row, $justify: flex-start, $align: center)
  height: 100%
  padding: 10px

.header_profile_img
  border-radius: 50%
  width: 2vw

.header_profile_name_wrapper
  +flex($direction: row, $justify: flex-start, $align: center)

.header_profile_name
  font-size: 1em

// Navbar
.navbar
  +flex($justify: space-between, $align: center)
  height: 8vh
  background-color: rgba(0, 0, 0, 0.5)
  width: 100%
  position: fixed
  z-index: 3

.navbar_logotype
  +flex()
  width: 40vw

.navbar_logotype_img_wrapper
  +flex($direction: row, $justify: flex-start, $align: center)
  padding: 10px

.navbar_wrapper_logotype_name
  +flex($direction: row, $justify: flex-start, $align: center)
  font-weight: $regular
  font-size: 1.2em

.navbar_wrapper_logotype_img
  width: 2vw


// SearchBar component
.search_bar
  height: 3vh
  width: 20vw
  margin: 10px
  background-color: $font-color
  border-radius: 10px
  border: none
  padding: 5px
  &:focus
    outline: 0
