@import '../../index'

.TopPlaylistWrap
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%

.MaxWidthList
  width: 960px
  margin: auto

.Title
  width: 100%
  text-align: center
  margin-bottom: 40px

.TopPlaylistList
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  width: 100%